@import "../fonts/robonoto/stylesheet.css";
@import "../fonts/nanum-square/stylesheet.css";
@import "../fonts/iosevka/stylesheet.css";
@import "../fonts/kopub.css";

:root {
	--font-ui: 'Raleway', 'KoPubWorldDotum', 'Noto Sans KR', 'Noto Sans JP', sans-serif;
	--font-title: 'NanumSquare', sans-serif;
	--font-sans: 'KoPubWorldDotum', 'Noto Sans KR', 'Noto Sans JP', sans-serif;
	--font-content: 'KoPubWorldDotum', 'Noto Sans KR', 'Noto Sans JP', sans-serif;
	--font-content-title: 'KoPubWorldDotum', 'Noto Sans KR', 'Noto Sans JP', sans-serif;
	--font-code: 'Iosevka', 'RoboNoto', monospace;
	// --font-content: 'RIDIBatang', sans-serif;

	--foreground-400: #35aba4;

	--background-400: #efebdd;

	--red-300: darken(#eb5757, 5%);
	--red-400: #eb5757;
	--red-500: lighten(#eb5757, 5%);

	--grey-050: #000000;
	--grey-100: #202020;
	--grey-200: #3b3b3b;
	--grey-700: #cacaca;
	--grey-850: #f1f2f3;
	--grey-900: #ffffff;
}

body, html {
	margin: 0;
	padding: 0;
	background: var(--grey-900);
	scroll-behavior: smooth;
}

::selection {
	background: #d8f3ed;
}

::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}

::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}

::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, .35);
	border: none;
	border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(0, 0, 0, .3);
}

::-webkit-scrollbar-thumb:active {
	background: rgba(0, 0, 0, .4);
}

::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, .5);
	border: none;
	border-radius: 0px;
}

::-webkit-scrollbar-track:active {
	background: rgba(0, 0, 0, .5);
}

::-webkit-scrollbar-corner {
	background: rgba(0, 0, 0, .5);
}

* {
	scrollbar-arrow-color: rgba(0, 0, 0, .35);
	scrollbar-base-color: rgba(0, 0, 0, .5);
	scrollbar-track-color: rgba(0, 0, 0, .5);
	scrollbar-face-color: rgba(0, 0, 0, .35);
	scrollbar-highlight-color: rgba(0, 0, 0, .5);
	scrollbar-3dlight-color: rgba(0, 0, 0, .5);
	scrollbar-darkshadow-color: rgba(0, 0, 0, .5);
	scrollbar-shadow-color: rgba(0, 0, 0, .35);
}

.Fade {
	&-enter-active, &-leave-active {
		transition: all .4s ease;
	}

	&-enter, &-leave-to {
		opacity: 0;
		transform: translateY(10px);
	}
}

body.Body--opened {
	overflow: hidden;
	padding-right: 12px;
}
